<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practica vue</title>
    
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

    <div id="app">
    
      
        </div>

    <script >
      // src="app.js" esta es la very basic structure Vue.createApp({ data(){ return{ variable:'Valor'}; }       })<---- y podrá ser usado en algun html tag
      const vm=Vue.createApp({
        data(){
          return{
            text:'Hola Mundo desde vue!',
            text2:'hola!',
            text3:'Aqui se cambia con v-model'
          };
        },
        methods:{
          input(e){
            this.text= e.target.value;
          },
          
          input2(e){
            this.text2= e.target.value;
          },
          input3(e){
            this.text2= e.target.value;
          }
        },
        template:`<p>{{text}} reactividad con la directiva "v-on:input"</p><p>ingresa algo en el input</p>
        <input 
        type="text" 
        v-on:input="input" 
        v-bind:value="text">
        
        <p>{{text2}}  reactividad con la directiva "v-on:change" pero en simplificado osea @:change</p><p>ingresa algo en el input</p>
        <input id="change"
        type="text" 
        @change="input2" 
        v-bind:value="text2">
        
        <p>con v-model podemos hacer lo mismo que usando un eventlistener con v-model="varName" le pasamos la variable con la cual va a ser reactiva</p>
        <p>{{text3}}</p>
        
        <input 
        type="text" 
        v-model="text3" >
        `
       
      }).mount('#app');
      console.log(vm);
    </script>
</body>
</html>